@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.ttf");
}   

@font-face {
    font-family: "GilroyExtrabold";
    src: url("../fonts/Gilroy-Extrabold.ttf");
}   

@font-face {
    font-family: "GilroyMedium";
    src: url("../fonts/Gilroy-Medium.ttf");
}   

@font-face {
    font-family: "GilroySemibold";
    src: url("../fonts/Gilroy-Semibold.ttf");
}   


