.header {
  height: 175px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;

  &__menu {
    display: flex;

    &__list {
      display: flex;
      column-gap: 45px;
      list-style: none;
    }

    &__link {
      font-family: "GilroyMedium";
      font-size: 17px;
      color: black;
      text-decoration: none;
    }

    &__item {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    height: 50px;
    background-color: #75bf7a;
    color: white;
    font-family: "GilroySemibold";
    font-size: 22px;
    width: 180px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-left: 45px;
    border-radius: 6px;
    text-transform: capitalize;
    text-decoration:none;
  }

  &__logo__link {
    display:block;
  }
}
