.subscribe {
    display: flex;
    align-items: center;
    background-color: #75BF7A;
    padding: 55px 70px;
    border-radius: 10px;
    column-gap: 122px;

    &__title {
        font-size: 25px;
        font-family: "GilroySemibold";
        color: white;
    }

    &__form {
        display: flex;
        column-gap: 10px;
        align-items: center;
        flex-grow: 1;

    }

    &__input {
        border-radius: 4px;
        font-family: "GilroySemibold";
        font-size: 20px;
        color: black;
        height: 67px;
        border: none;
        padding-inline: 34px;
        flex-grow: 1;

        &::placeholder{
            color:grey;
        }
    }

    &__button {
        background-color: black;
        display: inline-flex;
        height: 66px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 22px;
        font-family: "GilroyExtrabold";
        align-items: center;
        padding-inline: 32px;
        border-radius: 3px;
        column-gap: 10px;
        cursor: pointer;
        border: none;
    }
}