.footer(id="footer")
  .footer__content 
    .footer__logo
      a.footer__logo__link(href="/")
        img(alt="this is footer image." src=require("../../images/footer_logo.png"))

    .footer__contacts 
      .footer__menu
        p.footer__menu__title Be Our Friend

        ul.footer__menu__list 
          li.footer__menu__list__item 3, Season Park, Jakarta
          li.footer__menu__list__item support@foodyar.co,id
          li.footer__menu__list__item 021 - 1111 - 2222

      .footer__menu
        p.footer__menu__title Be Our Friend

        ul.footer__menu__list 
          li.footer__menu__list__item 3, Season Park, Jakarta
          li.footer__menu__list__item support@foodyar.co,id
          li.footer__menu__list__item 021 - 1111 - 2222    

    .footer__appstore 
      a.footer__appstore__button(href="#")
        img(alt="this is appstore button" src=require("../../images/footer_logo_appstore.png"))
        | Download
      a.footer__appstore__button(href="#")
        img(alt="this is appstore button" src=require("../../images/footer_logo_marketplace.png"))
        | Download

  .footer__copyright 
    p Rights Reserved tere by Codematics &copy; 2023
