head
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
  title Rideme
  link(href=require("../../scss/main.scss") rel="stylesheet")
  link(href="favicon.ico" rel="shortcut icon")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
  script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
  script(src=require("../../js/main.js"))