.hero 
  .hero__column
    h1.hero__title DOWNLOAD APP,
      br 
      | SAVE MONEY,MAKE 
      br
      |FRIENDS!

    .hero__description Its simple and its free. Play your part in reducing Carbon Footprint and help
      | Mother Nature to sustain its beauty. So what are you waiting for ?
      | Lets ride together

    .hero__appstore 
      a.hero__appstore__button(href="#")
        img(alt="this is appstore button" src=require("../../images/marketplace.png"))
        | Download
      a.hero__appstore__button(href="#")
        img(alt="this is appstore button" src=require("../../images/appstore.png"))
        | Download

  .hero__column 
    img.hero__img(alt="this is map image." src=require("../../images/map.png"))