.subscribe 
  h2.subscribe__title Let's go. Get a link
    br
    | to download the app.

  form.subscribe__form 
    input.subscribe__input(type="text" placeholder="Enter mobile phone number")
    button.subscribe__button(type="submit") APPLY TO DRIVE