.header(id="home")
  .header__logo
    a.header__logo__link(href="/")
      img(alt="this is header image." src="images/logo_img.jpg")

  .header__menu
    ul.header__menu__list
      li.header__menu__item
        a.header__menu__link(href="#home") Home
      li.header__menu__item
        a.header__menu__link(href="#how") How tere works
      li.header__menu__item
        a.header__menu__link(href="#benefits") Tere benefits
    a.header__button(href="#footer") help center
