doctype html
html(lang="en")
  include head
  body
    include header
    .content 
      .container
        include hero
        include subscribe
        include tree
        include benefits
    include footer 
      