doctype html
html(lang="en")
  include blocks/head
  body
    include blocks/header
    .content
      .container
        include blocks/hero
        include blocks/subscribe
        include blocks/tree
        include blocks/benefits
    include blocks/footer 
      