.tree
  .tree__heading 
    h2.tree__heading__title how 
      span.tree__heading__title--highlighted tere
      | Works
    p.tree__description Download and install the tere app. 
      | Enter your phone number and make your user account.
      |  when approved you may start driving.

  .tree__content
    .tree__column 
      .tree__item 
        p.tree__number 1
        h3.tree__label request a ride
        p.tree__text Text tewxt fsdfsdfs

      .tree__item 
        p.tree__number 3
        h3.tree__label request a ride
        p.tree__text Text tewxt fsdfsdfs

    .tree__slider
      .swiper
        .swiper-wrapper 
          .swiper-slide 
            img(alt="this is a phone screen" src="images/slide_1.png")
          .swiper-slide 
            img(alt="this is a phone screen" src="images/slide_1.png")
          .swiper-slide 
            img(alt="this is a phone screen" src="images/slide_1.png")
        .swiper-pagination
          

    .tree__column 
      .tree__item 
        p.tree__number 2
        h3.tree__label request a ride
        p.tree__text Text tewxt fsdfsdfs

      .tree__item 
        p.tree__number 4
        h3.tree__label request a ride
        p.tree__text Text tewxt fsdfsdfs