.benefits {
  font-size: 20px;
  color: black;
  margin-bottom: 275px;
  padding-top: 60px;

  &__heading {
    font-family: $fontExtraBold;
    color: $green;
    text-align: center;
    margin-bottom: 52px;

    &__title {
      color: black;
      font-size: 46px;
      line-height: 32px;
      text-transform: uppercase;
      font-family: $fontExtraBold;

      &--highlighted {
        color: $green;
      }
    }
  }

  &__item {
    background: white;
    height: 304px;
    width: calc(100% - 92px);
    padding-inline: 46px;
    margin-bottom: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    $item: &;

    &__image {
      position: absolute;
      right: 110px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__heading {
      display: flex;
      align-items: center;
      max-width: 385px;
      width: 100%;
      margin-bottom: 20px;
    }

    &:nth-of-type(even) {
      align-items: flex-end;
      margin-left: auto;

      #{$item}__heading {
        justify-content: flex-start;
      }

      #{$item}__image {
        right: initial;
        left: 103px;
      }
    }
  }

  &__number {
    color: $green;
    font-size: 88px;
    font-family: $fontSemiBold;
    margin-right: 40px;
  }

  &__title {
    font-family: $fontSemiBold;
    font-size: 34px;
  }

  &__description {
    font-family: $fontMedium;
    color: $grey;
    font-size: 22px;
    max-width: 385px;
    line-height: 24px;
  }
}
